header {
    display: flex;
    justify-content: center;
    gap: 5px;
    border-spacing: 5px;
}

.myfoto {
    border-radius: 100%;
    border: 3px solid rgba(253,190,217, 0.7);
    box-shadow: 10px 10px 20px rgba(253,190,217, 0.7);
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
}