body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #F2CFFD;
}

header {
    display: flex;
    width: 70vw;
    column-gap: 40px;
    border-spacing: 5px;
}

.about {
    display: flex;
    flex-direction: column;
    font-size: 170%;
    min-height: 90%;
    align-items: stretch;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.myfoto {
    border-radius: 100%;
    border: 3px solid rgba(253,190,217, 0.7);
    box-shadow: 10px 10px 20px rgba(253,190,217, 0.7);
    justify-content: center;
    align-content: center;
    width: 70%;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70vw;
    gap: 15px;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    background-image: url(../img/logo/rs_school_js\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 100% 100%;
    background-color: #B49ABC;
}

.headpath {
    background: #ECBEFA;
    box-shadow: 10px -8px 1px 20px #ECBEFA;
}

.headpathname {
    background: #ECBEFA;
    box-shadow: 10px 5px 1px 10px #ECBEFA;
}

.backcolor {
    background-color: #FDBEDB;
}

.contacts {
    font-size: 150%;
    background: #ECBEFA;
    box-shadow: 10px -12px 1px 20px #ECBEFA;
}

.year {
    background: #ECBEFA;
    box-shadow: 10px 15px 1px 20px #ECBEFA;
}

.link {
    background: #ECBEFA;
    box-shadow: 10px 15px 1px 20px #ECBEFA;
}

.code {
    background-color: #FFC8C0;
}

.task {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#year {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@media (max-width: 575px) {
    
    header {
        width: auto;
    }
    
    main {
        width: auto;
    }

    footer {
        width: auto;
    }
}